force-app/main/default/flows/Manage_Finances.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_deposit_balance</name>
        <label>Assign deposit balance</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Get_Transaction_Account.Balance__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_account_Balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_balance</name>
        <label>Assign Payment balance</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Transaction_Account.Balance__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_running_user_Id</name>
        <label>Assign running user Id</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>runningUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceDeposit</name>
        <choiceText>choiceDeposit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choiceDeposit</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePay</name>
        <choiceText>choicePay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choicePay</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceViewStatement</name>
        <choiceText>choiceViewStatement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choiceViewStatement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Confirm_Payment</name>
        <choiceText>Confirm Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm Payment</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Funds_Decision</name>
        <label>Funds Decision</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Insufficient_funds_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sufficient_Funds</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Account.Balance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Amount_to_Pay</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Transaction_Account.Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Amount_to_Pay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Payment_balance</targetReference>
            </connector>
            <label>Sufficient Funds</label>
        </rules>
    </decisions>
    <decisions>
        <name>Init_Decision</name>
        <label>Init Decision</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Init_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>View_Statement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choiceViewStatement</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_account_transactions</targetReference>
            </connector>
            <label>View Statement</label>
        </rules>
        <rules>
            <name>Make_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choicePay</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Payment_Screen</targetReference>
            </connector>
            <label>Make Payment</label>
        </rules>
        <rules>
            <name>Make_Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choiceDeposit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Deposit_Screen</targetReference>
            </connector>
            <label>Make Deposit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula to calculate new account balance</description>
        <name>depositCalculator</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Transaction_Account.Balance__c}+{!Deposit_Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>minimumTransactionAmount</name>
        <dataType>Boolean</dataType>
        <expression>{!Amount_to_Pay}&gt;0</expression>
    </formulas>
    <formulas>
        <name>paymentCalculator</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Transaction_Account.Balance__c}-{!Amount_to_Pay}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Manage Finances {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Finances</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a payment in account</description>
        <name>Create_deposit_transaction</name>
        <label>Create deposit transaction</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Deposit_success_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>Get_Transaction_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Deposit_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Deposit_DescriptionTxt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt__c</field>
            <value>
                <elementReference>uploadReceiptProofOfPayment.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a payment in account</description>
        <name>Create_transaction</name>
        <label>Create transaction</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Payment_Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>Get_Transaction_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount_to_Pay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Enter_Transaction_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt__c</field>
            <value>
                <elementReference>receiptUpload.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_account_transactions</name>
        <label>Get account transactions</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Transaction_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Event_Id</name>
        <label>Get Current Event Id</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transaction_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>runningUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GlobalVariable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Account</name>
        <label>Get Transaction Account</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Init_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EBEventId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Event_Id.EventId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EBAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_account_Balance</name>
        <label>Update account Balance</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Create_deposit_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EBEventId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Event_Id.EventId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Balance__c</field>
            <value>
                <elementReference>depositCalculator</elementReference>
            </value>
        </inputAssignments>
        <object>EBAccount__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Balance</name>
        <label>Update Balance</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EBEventId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Event_Id.EventId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Balance__c</field>
            <value>
                <elementReference>paymentCalculator</elementReference>
            </value>
        </inputAssignments>
        <object>EBAccount__c</object>
    </recordUpdates>
    <screens>
        <name>Deposit_success_screen</name>
        <label>Deposit success screen</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>depositsuccessTxt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Transaction Completed. Ube nosuku oluhle. Bye!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Transactions</name>
        <label>Display Transactions</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>datatransactions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Event Transactions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_account_transactions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-9d1c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b51b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Transaction Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-cc92&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Amount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Receipt__c&quot;,&quot;guid&quot;:&quot;column-98b6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Receipt&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Receipt&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-fcee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Init_Error</name>
        <label>Init Error</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dspInitError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;An error occurred. Please reload page and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_screen</name>
        <label>Initial screen</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Current_Event_Id</targetReference>
        </connector>
        <fields>
            <name>initdsp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Hi. What would you like to do today?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>radioFinacials</name>
            <choiceReferences>choiceViewStatement</choiceReferences>
            <choiceReferences>choicePay</choiceReferences>
            <choiceReferences>choiceDeposit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insufficient_funds_screen</name>
        <label>Insufficient funds screen</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Try Again</backButtonLabel>
        <fields>
            <name>dsppInsufficientFunds</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Insufficient funds!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Make_Deposit_Screen</name>
        <label>Make Deposit Screen</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_deposit_balance</targetReference>
        </connector>
        <fields>
            <name>Deposit_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Deposit Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Transaction amount cannot be less than R0.01&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Deposit_Amount}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Deposit_DescriptionTxt</name>
            <dataType>String</dataType>
            <fieldText>Deposit Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>uploadReceiptProofOfPayment</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Proof of Payment</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Make_Payment_Screen</name>
        <label>Make Payment Screen</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Funds_Decision</targetReference>
        </connector>
        <fields>
            <name>Amount_to_Pay</name>
            <dataType>Currency</dataType>
            <fieldText>Enter Amount to Pay</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Transaction amount cannot be be R0.00 or less&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!paymentCalculator}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Enter_Transaction_Description</name>
            <dataType>String</dataType>
            <fieldText>Enter Transaction Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>receiptUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Receipt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.pdf,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>radioConfirmPayment</name>
            <choiceReferences>Confirm_Payment</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Success_Screen</name>
        <label>Payment Success Screen</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>paymentSuccessDsp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Payment Success!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_running_user_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>runningUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
