force-app/main/default/flows/Promote_Demote_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>choiceManageContributor</name>
        <choiceText>choiceManageContributor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choiceManageContributor</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceManageOrganiser</name>
        <choiceText>choiceManageOrganiser</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choiceManageOrganiser</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Promote_or_demote_decision</name>
        <label>Promote or demote decision</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Demote_Promote_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Promote_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioDemotePromote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>promoteUser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Contributor_Screen</targetReference>
            </connector>
            <label>Promote User</label>
        </rules>
        <rules>
            <name>Demote_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioDemotePromote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>demoteUs</elementReference>
                </rightValue>
            </conditions>
            <label>Demote User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Promote/Demote User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Promote/Demote User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Demote_Promote_Error_Screen</name>
        <label>Demote/Promote Error Screen</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dspError1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;An error occurred. Please log a case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manage_Contributor_Screen</name>
        <label>Manage Contributor Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>cmpManageContributor</name>
            <extensionName>c:userEventManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>manageContributor</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Promote_or_demote_screen</name>
        <label>Promote or demote screen</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Promote_or_demote_decision</targetReference>
        </connector>
        <fields>
            <name>dspPromoteQuestion</name>
            <fieldText>&lt;p&gt;Select an option to manage user roles.&lt;/p&gt;&lt;p&gt;To remove a user from the event, choose &apos;Manage Contributor&apos;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>radioDemotePromote</name>
            <choiceReferences>choiceManageContributor</choiceReferences>
            <choiceReferences>choiceManageOrganiser</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Promote_or_demote_screen</targetReference>
        </connector>
        <fields>
            <name>initMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;To amend user roles, press &apos;continue&apos;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>demoteUs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>promoteUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>runningUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
